@using AbanoubNassem.Trinity.Configurations
@using InertiaAdapter
@using StackExchange.Profiling
@addTagHelper *, MiniProfiler.AspNetCore.Mvc
@inject TrinityConfigurations Configurations
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="~/trinity/dist/style.css"/>

    <title inertia>@Configurations.Title</title>
</head>
<body >

@Inertia.Html(Model)


<script type="module" crossorigin src="~/trinity/dist/trinity-vue.mjs"></script>
<mini-profiler/>
</body>
</html>